In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# for counting
import collections

# Input data files are available in the "/content/gdrive" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
from google.colab import drive
drive.mount('/content/gdrive')


# Any results you write to the current directory are saved as output.

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
ques = pd.read_csv('/content/gdrive/My Drive/Questions.csv',encoding='iso-8859-1')
ques.head(10)

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...
5  330  ...  <p>I am working on a collection of classes use...
6  470  ...  <p>I've been writing a few web services for a ...
7  580  ...  <p>I wonder how you guys manage deployment of ...
8  650  ...  <p>I would like the version property of my app...
9  810  ...  <p>I'm trying to maintain a Setup Project in <...

[10 rows x 7 columns]

In [0]:
import re 

def rem_html_tags(body):
    regex = re.compile('<.*?>')
    return re.sub(regex, '', body)

In [0]:
ques['Body'] = ques['Body'].apply(rem_html_tags)
ques.head()

    Id  ...                                               Body
0   80  ...  I've written a database generation script in S...
1   90  ...  Are there any really good tutorials explaining...
2  120  ...  Has anyone got experience creating SQL-based A...
3  180  ...  This is something I've pseudo-solved many time...
4  260  ...  I have a little game written in C#. It uses a ...

[5 rows x 7 columns]

In [0]:
ques.to_csv('/content/gdrive/My Drive/question_clean.csv',index=False)